@import "tailwindcss";
/* @plugin "daisyui" {
    themes: emerald --default;
} */

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  --color-primary: oklch(0.4866 0.1002 150.18);
  --color-primary-content: oklch(98% 0.003 247.858);
}


.landing-section {
    width: 45%;
    margin: 0 auto;
}

/* Horizontal Divider */
.hdivider {
    background-color: #333c4d1a;
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
}

.info-page {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

/* For mobile screens */
@media (max-width: 1000px) {
    .landing-section {
        width: 90%;
    }

    .hdivider {
        width: 90%;
    }

    .info-page {
        width: 90%;
        padding: 10px;
    }
}
