@import "tailwindcss";
/* @plugin "daisyui" {
themes: emerald --default;
} */
@import "keen-slider/keen-slider.min.css";

@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "emerald";
    default: true;
    --color-primary: oklch(0.4866 0.1002 150.18);  /* hex=#2E6F40 */
    --color-primary-content: oklch(98% 0.003 247.858);
}


.landing-section {
    width: 50%;
    margin: 0 auto;
}

/* Horizontal Divider */
.hdivider {
    background-color: #333c4d1a;
    width: 65%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
}

.info-page {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

/* For mobile screens */
@media (max-width: 1000px) {
    .landing-section {
        width: 90%;
    }
    
    .hdivider {
        width: 90%;
    }
    
    .info-page {
        width: 90%;
        padding: 10px;
    }
}

/* Keen Slider Image Carousel Styles */
.keen-slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    /* height: 650px; */
    color: white;
}

.slide1 { background: none; }
.slide2 { background: none; }
.slide3 { background: none; }
.slide4 { background: none; }


.navigation-wrapper {
    position: relative;
}

.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
}

.dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.dot:focus {
    outline: none;
}

.dot--active {
    background: #000;
}

.arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
}

.arrow--left {
    left: 5px;
    fill: "#fff";
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
    left: auto;
    right: 5px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}
