---
// src/pages/about.astro
import Layout from "../layouts/Layout.astro";

---
<Layout title="FrameOCR - About">
    <div class="info-page">
        <h1 class="text-3xl font-bold mb-6 text-center">About</h1>
        <p>
            I made FrameOCR because it didn't seem like there was any good simple tool 
            with an easy screenshot-to-clipboard workflow that also supported LaTeX on 
            the market. 
            
            All others were too expensive, too complicated, poorly made, or reliant on 
            external cloud services.
        </p>
    </div>
</Layout>