---
// src/pages/account.astro
import Layout from "../layouts/Layout.astro";
---
<Layout title="FrameOCR - Account">
    <div class="info-page">
        <h1 class="text-3xl font-bold mb-6 text-center">Manage Your Licenses (Under construction...)</h1>
    </div>
</Layout>

<script>

</script>