---
// src/pages/buy.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="FrameOCR - Pricing">
    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>

    <!-- pt = padding top -->
    <h1 class="text-4xl font-bold text-center mb-12 pt-12">Purchase FrameOCR</h1> 

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto">
        <!-- Free -->
        <div class="card bg-base-100 shadow-lg p-6">
            <!-- <figure>
            <img src="/windows-logo.svg" alt="Windows" class="h-10" />
            </figure> -->
            <div class="card-body text-center">
                <h2 class="card-title justify-center">Free Trial</h2>
                <!-- <p class="text-3xl font-bold">
                    $0 <span class="text-lg font-normal">/ Lifetime</span>
                </p> -->
                <a href="https://downloads.frameocr.com/FrameOCR_1.0.0.dmg">
                    <button class="btn btn-primary btn-wide mx-auto">
                        Download
                    </button>
                </a>
                <p class="mt-6 text-sm">
                    FrameOCR can be downloaded and evaluated for free, however 
                    a license must be purchased for continued use. After 
                    7 days it will start asking you to consider upgrading.
                </p>
                <!-- <a href="#" class="link link-hover font-semibold text-primary mt-2">Get volume discount →</a> -->
            </div>
        </div>

        <!-- Standard Individual License -->
        <div class="card bg-base-100 shadow-lg p-6">
            <!-- <figure>
            <img src="/windows-logo.svg" alt="Windows" class="h-10" />
            </figure> -->
            <div class="card-body text-center">
                <h2 class="card-title justify-center">Standard License</h2>
                <p class="text-3xl font-bold">
                    $30 <span class="text-lg font-normal">/ License</span>
                </p>

                <!-- <button
                    class="btn btn-primary btn-wide mx-auto"
                    onclick="openCheckout(standardList)">Buy now</button
                > -->
                <a href="https://monowire.lemonsqueezy.com/buy/ed88a7a5-e685-4fc4-81ea-d104284b86c3?embed=1" 
                   class="lemonsqueezy-button btn btn-primary btn-wide mx-auto">
                   Buy Now
                </a>
                <p class="mt-6 text-sm">
                    For those who like the app and want to support my
                    development efforts. License required for commercial use.
                </p>
                <!-- <a href="#" class="link link-hover font-semibold text-primary mt-2">Get volume discount →</a> -->
            </div>
        </div>

        <!-- Patron License -->
        <div class="card bg-base-100 shadow-lg p-6">
            <!-- <figure>
            <img src="/apple-logo.svg" alt="Mac" class="h-10" />
            </figure> -->
            <div class="card-body text-center">
                <h2 class="card-title justify-center">Patron Club License</h2>
                <p class="text-3xl font-bold">
                    $60 <span class="text-lg font-normal">/ License</span>
                </p>

                <!-- <button
                    class="btn btn-primary btn-wide mx-auto"
                    onclick="openCheckout(patronList)"
                >
                    Buy now
                </button> -->

                <a href="https://monowire.lemonsqueezy.com/buy/97224c94-a352-4b48-bb79-3bcf5e0c402b?embed=1" 
                    class="lemonsqueezy-button btn btn-primary btn-wide mx-auto">
                    Buy Now
                </a>
                <p class="mt-6 text-sm">
                    For those who <i>love</i> the app and want to show some extra support. You'll get early access
                    to new features!
                </p>
                <!-- <a href="#" class="link link-hover font-semibold text-primary mt-2">Get volume discount →</a> -->
            </div>
        </div>
    </div>
    <div class="hdivider"></div>

    <div class="space-y-6 landing-section">
        <h2 class="text-xl font-semibold">
            Is this a subscription or a one-time fee?
        </h2>
        <p class="mt-2">
            This is a single-time purchase, not a subscription.
        </p>
        
        <h2 class="text-xl font-semibold">
            How many macs are included in the license?
        </h2>
        <p class="mt-2">
            One license covers one user and up to five computers.
        </p>

        <h2 class="text-xl font-semibold">
            What if I paid but didn't receive the license code immediately?
        </h2>
        <p class="mt-2">
            The payment processing company (Lemon Squeezy) may take extra time 
            to clear the transaction depending on your payment method. If it's been 
            over 2 hours since purchasing and you haven't received your license, 
            reach out to <b>support@frameocr.com</b>, and I'll check the transaction 
            manually.
        </p>
    </div>
    <div class="hdivider"></div>

</Layout>
