---
// src/pages/contact.astro
import Layout from "../layouts/Layout.astro";

---
<Layout title="FrameOCR - Contact">
    <div class="info-page">
        <h1 class="text-3xl font-bold mb-6 text-center">Contact Me</h1>
        <p>
            If you have an issue with the app, purchasing, or license activation, 
            send an email to <b><a href="mailto:support@frameocr.com">support@frameocr.com</a></b>.
        </p>
        <br />
        <p>
            For all other inquires, send an email to <b><a href="mailto:alex@frameocr.com">alex@frameocr.com</a></b>.
        </p>
        <br />    
        <!-- <p>
            Please DON'T send the same email to multiple addresses, these emails will get marked as spam.
        </p> -->
    </div>
</Layout>