<div id="demo-video-wrapper" class="space-y-6 landing-section">
    <h1 class="text-3xl font-bold mb-6 text-center">See the LaTeX math recognition feature in action:</h1>
    
    <div>
    <video id="demo-video" src="/frameocr-demo.mp4" controls class="w-[50vw] rounded-lg shadow-lg"></video>
    </div>
</div>

<style>
    #demo-video-wrapper {
        padding: 10px;
    }

    #demo-video {
        width: 45vw;
        /* min-width: 550px; */
        margin: 0 auto;
    }

    /* For mobile screens */
    @media (max-width: 640px) {
        #demo-video {
            width: 95%; */
            min-width: auto; /* allow shrinking */
        }
    }
</style>