---
// src/pages/faq.astro
// import Layout from '../layouts/Layout.astro';
---

<div id="faq" title="FAQ - FrameOCR" class="space-y-6">
    <h1 class="text-3xl font-bold mb-6 text-center">Frequently Asked Questions (FAQ)</h1>
    <div>
        <h2 class="text-xl font-semibold">
            What versions of macOS are compatible?
        </h2>
        <p class="mt-2">
            FrameOCR is compatible with <b>macOS Ventura (13.0.0) and up.</b>
        </p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">Is there a free trial?</h2>
        <p class="mt-2">
            FrameOCR is free to use, and after 7 days it will start asking you to
            consider upgrading. If it helped you be more productive and saved you time, please consider purchasing the
            app!
        </p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">
            Is the purchase a one-time payment or a subscription?
        </h2>
        <p class="mt-2">
            Your purchase is a one-time payment that includes all future updates.
        </p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">
            What languages are supported by the text recognition engine?
        </h2>
        <p class="mt-2">
            English, Afrikaans, Albanian, Bosnian, Chinese, Croatian, Czech, Danish, 
            Dutch, Estonian, French, German, Hungarian, Icelandic, Indonesian, Irish, 
            Italian, Japanese, Latin, Lithuanian, Malay, Maori, Norwegian, Occitan, 
            Polish, Portuguese, Serbian, Slovak, Slovenian, Spanish, Swahili, Swedish, 
            Tagalog, Turkish, Uzbek, Welsh.
            <br/><br/>
            Remember to select your target language in the app settings so that
            the best model can be used.
        </p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">
            Does FrameOCR use cloud OCR processing?
        </h2>
        <p class="mt-2">
            No, FrameOCR runs all OCR processing entirely locally and offline on 
            your machine. That means there is no limit to how much you can use 
            the text or LaTeX recognition features.
        </p>
    </div>
    <div>
        <h2 class="text-xl font-semibold">
            What programming language is FrameOCR written in?
        </h2>
        <p class="mt-2">
            FrameOCR is written entirely in Swift 6, built natively for macOS.
        </p>
    </div>
</div>

<style>
    #faq {
        width: 40vw;
        min-width: 550px;
        margin: 0 auto;
        padding: 20px;
    }
</style>
