<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
    <nav>
      <h6 class="footer-title">Monowire Labs © 2025</h6>
      <a class="link link-hover">About Us</a>
      <a class="link link-hover">Contact</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover" href="/terms">Terms of Service</a>
      <a class="link link-hover" href="/privacy">Privacy Policy</a>
    </nav>
</footer>