---
// src/components/Hero.astro
import LogoSVG from '../assets/frameocr-logo.svg';

---

<div id="hero-block" class="flex flex-col items-center text-center">
    <LogoSVG id="hero-logo"/>
    <p id="hero-text" class="py-0 mb-8">
        Instantly recognize and extract text and LaTeX from images and documents on your Mac.
        State-of-the-art OCR performance powered by AI, tailored for each use case.
    </p>
    <!-- <button id="download-button" class="btn btn-primary btn-lg min-h-[4rem]">
        Download FrameOCR for Mac
        <p class="text-med font-normal">(v1.0.0, 181.5 MB)</p>
    </button> -->
    <a href="https://frameocr.com/FrameOCR_1.0.0.dmg">
    <button id="download-button" class="btn btn-primary btn-lg min-h-[4rem] flex flex-col items-center leading-tight --color-primary">
        <span>Download FrameOCR for Mac</span>
        <span class="text-sm font-normal">(v1.0.0, 181.8 MB)</span>
    </button>
    </a>
    <a href="/buy" class="link link-hover font-semibold mt-2">Check prices</a>
</div>

<style>
    #hero-block {
        padding-top: 80px;
        padding-bottom: 70px;
    }

    #hero-logo {
        width: 45%;
        margin: 0 auto;
        padding: 10px;
    }

    #hero-text {
        width: 50%;
        margin: 0 auto;
        padding: 10px;
        padding-bottom: 20px;
    }

    #download-button {
        /* margin: 0 auto; */
        margin: 0px auto 10px; /* top, sides, bottom */
        padding: 40px 60px 40px 60px;
    }

    @media (max-width: 1000px) {
        #hero-logo {
            width: 80%;
        }

        #hero-text {
            width: 85%;
        }

        .divider {
            width: 90%;
        }
    }
</style>