---
// src/components/ReleaseNotes.astro
---

<div id="release-notes" class="block landing-section">
	<h1 class="text-3xl font-bold mb-6 text-center">Release Notes</h1>
	<div class="overflow-x-auto">
		<table class="table table-zebra w-full">
			<thead>
				<tr>
					<th class="w-30">Date</th>
					<th>Release Version</th>
					<th>Version Description</th>
				</tr>
			</thead>
                <tr>
					<td>2025-09-14</td>
					<td>v1.1.1</td>
					<td>
                        <li>Added support for Russian, Belarusian, Ukrainian, and Korean. </li>
                        <li>Added a small pop-up notification window that shows scanned text after running OCR (goes away 
                        after 5 seconds, like normal macOS notifications).</li>
                        <li>
                            Added improved processing for certain LaTeX operators 
                            (\sup, \inf, \Pr, \log, \ln, \lim, \det, \dim, \exp, \max, \min,
                            \sin, \cos, \tan, \csc, \sec, \cot).
                        </li>
                        <li>Updated the app + menubar icons</li>
                    </td>
				</tr>
        		<tr>
					<td>2025-09-10</td>
					<td>v1.0.0</td>
					<td>Initial public release of FrameOCR.</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>