---
// src/layouts/Layout.astro
interface Props {
    title: string;
}

const { title } = Astro.props;
import "../styles/global.css";
import LogoSVG from "../assets/frameocr-logo.svg";
---

<!doctype html>
<!-- Modify theme here -->
<html lang="en" data-theme="emerald">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="A simple and powerful OCR tool for macOS."
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/frameocr.ico" />
        <link
            rel="stylesheet"
            href="node_modules/keen-slider/keen-slider.min.css"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js"></script> -->
        <!-- <script src="node_modules/keen-slider/keen-slider.js"></script> -->
        <script src="../script/keen.js"></script>
    </head>
    
    <body class="flex flex-col min-h-screen">
        <!-- Header / Top Navigation Bar -->
        <div class="navbar bg-base-200">
            <div class="navbar-start" id="header-logo">
                <a href="/" class="btn btn-ghost px-2 py-1 h-auto min-h-0">
                    <LogoSVG class="h-10 w-auto" />
                </a>
            </div>

            <!-- Mobile Dropdown Toggle -->
            <div class="navbar-end lg:hidden">
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-5 w-5"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"></path>
                        </svg>
                    </label>
                    <ul
                        tabindex="0"
                        class="menu dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                    >
                        <li><a href="/#release-notes">Release Notes</a></li>
                        <li><a href="/#faq">FAQ</a></li>
                        <li><a href="/buy">Try for Free</a></li>
                        <li>
                            <a href="/buy" class="btn btn-primary mt-2">Buy Now</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Desktop Menu -->
            <div class="navbar-end hidden lg:flex gap-2">
                <a href="/#release-notes" class="btn btn-ghost">Release Notes</a>
                <a href="/#faq" class="btn btn-ghost">FAQ</a>
                <a href="/buy" class="btn btn-ghost">Try for Free</a>
                <div class="divider divider-horizontal mx-1"></div>
                <a href="/buy" class="btn btn-primary">Buy Now</a>
            </div>
        </div>
        
        <!-- Main content -->
        <!-- <main class="container mx-auto p-8"> -->
        <main class="flex-grow container mx-auto px-4 py-8 flex flex-col">
            <slot />
        </main>

        <!-- Footer -->
        <footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
            <nav>
            <h6 class="footer-title">Monowire Labs © 2025</h6>
            <a class="link link-hover" href="/about">About Us</a>
            <a class="link link-hover" href="/contact">Contact</a>
            </nav>
            <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover" href="/terms">Terms of Service</a>
            <a class="link link-hover" href="/privacy">Privacy Policy</a>
            </nav>
        </footer>
    </body>
</html>


<style>
    #header-logo {
        width: 250;
        /* margin-left:  */
    }
</style>